* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family:monospace;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
    background: linear-gradient(to right, #93F9B9, #1D976C);
}

.uname {
    position: absolute;
    top: 50%;
}

.container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.6s ease;
}

.user-details .input-box input:focus{
    border-color: lawngreen;
}

form .student-details {
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 45%;
}

form .select {
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 46%;
    top: 77%;
}

form .update-btn {
    position: relative;
    top: 50%;
    left: 55%;
    padding-right: 15px;
    font-weight: bold;
}
