* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family:monospace;
}

.table-contents{
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9rem;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-contents thead tr {
    background-color: green;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.table-contents th,
.table-contents td {
    padding: 12px 15px;
}

.table-contents tbody tr {
    border-bottom: 1 px solid green;
}

.table-contents tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-contents tbody tr:last-of-type {
    border-bottom: 2px solid green;
}