* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family:monospace;
}

.title {
    position: absolute;
    top: 5%;
    left: 15%;
    display: flex;
    flex-direction: end;
    color: green;
}

.um_logo {
    position: absolute;
    top: 5%;
    left: 6%;
    display: flex;
    flex-direction: end;
    border-radius: 60%;
}

.info {
    position: absolute;
    top: 9%;
    left: 15%;
    font-size: 20px;
}

.student_icon {
    position: absolute;
    left: 80%;
    top: 10%;
    font-size: 60px;
}

.modal_container {
    background-color: gray;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.modal_container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}

.modal h1 {
    margin: 0;
}

.modal p{
    font-size: 14px;
    opacity: 0.7;
}

.download {
    position: absolute;
    font-size: 30px;
    top: 12%;
    left: 77%;
}

.year {
    position: absolute;
    top: 13%;
    left: 15%;
    font-size: 20px;
}

.logout{
    position: absolute;
    top: 12%;
    left: 90%;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color:black;
    font-size: 15px;
}

.table-contents{
    position: absolute;
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9rem;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    top: 20%;
    left: 30%;
}

.table-contents thead tr {
    background-color: green;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.table-contents th,
.table-contents td {
    padding: 12px 15px;
}

.table-contents tbody tr {
    border-bottom: 1 px solid green;
}

.table-contents tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-contents tbody tr:last-of-type {
    border-bottom: 2px solid green;
}